@font-face {
    font-family: 'IRANSansX-Regular';
    src: url('https://naughty-sutherland-0-pi-jl3m.storage.iran.liara.space/IRANSansX-Regular.woff2') format('woff2');
}
.kos {
    color: chartreuse;
    width: 4cm;
    background-color: rgba(255,0,100,0.3);
    padding-left: 0.5cm;
    margin: auto;
    font-family: Arial;
}
body {
    background-color: blue;
    background-image: url('https://banner2.cleanpng.com/20180326/utw/kisspng-long-exposure-photography-photographer-photo-camera-5ab9074c9beaa9.1039790915220754686387.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: 3000px;
    background-attachment: fixed;
}
h2 {
    color: white;
    border: medium solid gray;
    border-radius: 12px;
    width: 75px;
}
.pp {
    border-bottom-style: dashed;
    border-width: medium;
    width: 5cm;
    border-color: rgba(86, 41, 1, 0.5);
  }
img {
    border: 10px dotted purple;
    margin: auto;
    height: 200px;
}
ol {
    color: blue;
    list-style-type: upper-roman
}
ol ul {
    color: burlywood;
    list-style-type: square
}
h3 {
    color: yellow;
    font-size: 1cm;
    border: 0.3cm groove rgb(0, 0, 0);
    padding-left: 4cm;
    margin-top: 2cm;
    background-color: brown;
}
.kir{
    background-color: chartreuse;
    color: blue;
    width: 3.5cm;
    height: 0.5cm;
}
.doz span {
    width: 200px;
    color: white;
    background-color: midnightblue;
    border: 5px solid blue;
    margin:  1cm 6.5cm;
    padding: 10px 15px;
    display: block;
    box-sizing: content-box;
}
.dodol {
    width: 200px;
    color: white;
    background-color: midnightblue;
    border: 5px solid blue;
    margin:  1cm 6.5cm;
    padding: 10px 15px;
    display: block;
    box-sizing: border-box;
}
.goot a {
    display: inline-block;
    color: rgb(254, 254, 0);
    text-decoration:none;
    background-color: red;
    border: 0.5cm solid red;
    width: 80px;
    margin-top: 0.5cm;
    padding: auto;
    border-radius: 20px;
}
.kie a {
    color:chocolate;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5cm;
    border: 3px solid purple;
    padding-left: 3.5cm;
    border-radius: 100px;
    background-color: black;
    font-family: 'Fuggles', cursive;
    font-style: italic;
    font-size: 50px;
    width: 14.6cm;
    box-sizing: border-box;
    display: inline-block;
}
.koni ul {
    list-style-type: '\1F44D'
}
.koni ul ul {
    color: blueviolet;
    list-style-image: url('https://naughty-sutherland-0-pi-jl3m.storage.iran.liara.space/content/mario.png');
    font-family: IRANSansX-Regular;
}
.tes ul {
    border: 3px solid yellow;
    background-color: darkgreen;
    color: pink;
    width: 13cm;
    border-radius: 100px;
    display: inline-block;
    margin: 0 0.5cm;
}
.tes li {
    list-style-type: none;
    display: inline-block;
    padding: 1cm 1cm;
}
.tes a {
    color: black;
    display: inline-block;
}
.tes {
    margin: auto;
    display: inline-block;
}
.kie a:hover {
    color: lightblue;
}
.tes a:link {
    color: yellow;
}
.tes a:visited {
    color: red;
}
.tes a:active {
    color: chocolate;
}
.ll::selection {
    background-color: red;
    color: yellow;
    font-size: larger;
}
.ll {
    font-size: larger;
    display: inline-block;
    margin: 1cm;
    border: 5px solid black;
    border-radius: 20px;
    width: 5cm;
    padding: 5px;
    background-color: black;
    position: absolute;
}
.ll a {
    text-decoration: none;
    color: white;
    padding: 1px 3px;
    text-align: center;
}
.pol {
    background-image: url('https://play-lh.googleusercontent.com/BCEUb6v7AXl73848KftvGFpOJvl8d66slFlYRqstQITwazMjf7UY8APtAtn_XCr76XTL');
    width: 750px;
    height: 600px;
    margin: 30px auto;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: left 60% top 60px;
    background-size: 250px;
    background-color: rgb(182, 18, 18);
}
.konn {
    height: 2cm;
    width: 2cm;
    border: 2px solid black;
    background-color: yellow;
    position: relative;
    left: 5cm;
    bottom: 4cm;
}
h5 {
    font-size: 3rem;
    display: inline-block;
    margin: auto 4cm;
    color: greenyellow;
    padding: 20px;
}
.zz {
    background-color: black;
    border-bottom: 2px solid yellow;
    height: 14vh;
    text-align: center;
    position: fixed;
    top: 0cm;
    right: 0cm;
    left: 0cm;
}